body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
  display: flex;
  align-items: center;
  font-size: 50px;
  justify-content: space-around;
  height: 200px;
  }
  
  header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  box-shadow: 5px 3px 10px rgb(8, 127, 24);
  }
  
  .logo {
  font-size: 40px;
  color: rgb(8, 127, 24);
  }
  
  .display-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  }
  
  .display-menu .menu {
  padding: 0 15px;
  }
  
  footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -3px 10px rgb(8, 127, 24);
  margin-top: 30px;
  }
  
  .footer-content {
  font-size: 25px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  color: #000000;
  }