@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this as needed */
  }
  
  .item {
    text-align: center;
    font-family: Outfit;
    font-size: 30px;
    align-items: left;
  }
  
  .greenText {
    color: green;
    /* Any other styles you want to add */
  }
 .h1 {
    font-family: Outfit;
    font-size: 60px;
 }  

 .container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". .";
  }
  